// Font importing:
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body {
    font-family: $dm-sans; // Основной шрифт для сайта.
    letter-spacing: -0.5px;
    color: $black;

    // если контента мало, footer может создать зазор и чтобы пригвоздить его делаем так
    display: flex; 
    flex-direction: column;
    height: 100%;
}

.container {
    margin: 0 auto; // Авто выравнивание горизонтально по центру.
    padding: 0 15px; // Чтобы контент не прилипал к краям экрана, при уменьшении окна.
    max-width: 1200px; // Прибваим 30px, так как был добавлен padding (30 т.е., 15*2)
    // max-width обязательный атрибут, при адаптивной верстке.
}

@media (max-width: 620px) {
    .header__title {
        font-size: 30px;
    }

    .title-1 {
        font-size: 40px;
    }

    .section {
        padding: 40px 0;
    }
}