// Declaring font
$dm-sans: "DM sans", sans-serif;
$poppins: "Poppins", sans-serif;

// Declaring colors
$white: #FFF;
$black: #171718;
$gray: #ececec;

$background-dark-color: #171718;
$nav-border-color: #26292D;
$active-link-color: #5C62EC;
$accent-font-color: #5C62EC;